body {
  background: radial-gradient(
    1224px at 10.6% 8.8%,
    rgb(255, 255, 255) 0%,
    rgb(153, 202, 251) 100.2%
  );
  font-family: "Playfair Display", serif;
}
h1 {
  text-align: center;
  font-size: 50px;
  color: #1345b7;
}
h2 {
  text-align: center;
  font-size: 35px;
  color: #5e227f;
  padding: 15px;
}
p {
  text-align: center;
  line-height: 1.5;
  color: #5e227f;
  font-size: 17px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #1345b7;
  font-size: 16px;
  opacity: 0.7;
}

button {
  display: block;
  margin: 15px auto;
  padding: 20px 25px;
  font-size: 16px;
  border: 1px dashed white;
  border-radius: 15px;
  color: #1345b7;
  background-color: #f2f4fb;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
button:hover {
  cursor: pointer;
  background-color: #5e227f;
  color: #f2f4fb;
  border: 2px solid #5e227f;
}
.container {
  max-width: 700px;
  margin: 50px auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 30px;
  background-color: #defcf9;
}

.design {
  color: #5e227f;
  font-size: 14px;
  padding: 30px;
  text-align: center;
}
.crystals {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 5px 0;
  grid-gap: 2px;
}
.crystals img {
  width: 140px;
  margin: 15px 0;
  border-radius: 6px;
  transition: all 200ms ease-in-out;
}
.crystals img:hover {
  transform: scale(1.5);
}
.main-picture {
  max-width: 400px;
  display: block;
  margin: 0 auto;
  border-radius: 6px;
  transition: all 200ms ease-in-out;
}
.main-picture:hover {
  transform: scale(1.5);
}
.dark-button {
  background: radial-gradient(
    circle at 74.2% 50.9%,
    rgb(14, 72, 222) 5.2%,
    rgb(3, 22, 65) 75.3%
  );
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
